.wrap {
  width: 100%;
}
section {
  padding: 100px 150px;
  width: 100%;
  /* border-bottom: 1px solid red; */
}

h1 {
  font-family: "Poiret One";
  font-size: 72px;
}

h2 {
  font-size: 32px;
  font-weight: 700;
}

h3 {
  font-size: 28px;
  font-weight: 700;
}

h4 {
  font-size: 24px;
  font-weight: 400;
}

h5 {
  font-size: 20px;
  font-weight: 400;
}

h6 {
  font-size: 18px;
  font-weight: 400;
}

small {
  font-size: 14px;
  font-weight: 400;
}

/* font end */

header {
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 150px;
  overflow: hidden;
  background-color: white;
}

header .logo {
  width: 140px;
}

header img {
  width: 100%;
}

header li {
  font-size: 16px;
}

.nav {
  display: flex;
  gap: 60px;
  justify-content: space-between;
  font-size: 16px;
}

.menu > a:hover {
  color: #7654da;
}

.sub_menu {
  display: none;
}

header input {
  border: transparent;
  height: 58px;
  font-size: 14px;
  outline: none;
  background-color: transparent;
}

.header_right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search form {
  border: 1px solid #ddd;
  width: 300px;
  height: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  padding: 7px 15px;
}

.search input::placeholder {
  color: #a7a7a7;
}

.search_btn {
  background-color: transparent;
  border: transparent;
  color: #1a1a1a;
  font-size: 16px;
}

.login {
  font-size: 27px;
}
/* header end */

footer {
  display: flex;
  width: 100%;
  padding: 80px 0;
  background-color: #1a1a1a;
  color: white;
  justify-content: space-between;
  margin-top: 200px;
  align-items: flex-start;
}

footer small {
  opacity: 0.7;
  font-weight: 400;
}

footer .copyright {
  opacity: 0.7;
  font-size: 14px;
  font-weight: 400;
}

footer .text_container {
  width: 50%;
  /* background-color: black; */
  padding-left: 150px;
  display: flex;
  flex-direction: column;
}

footer .text_2 {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  justify-content: space-between;
  height: 65px;
}

footer .img_container {
  width: 50%;
  /* background-color: pink; */
  display: flex;
  justify-content: flex-end;
  padding-right: 150px;
}

footer .img_container .img_wrap {
  display: flex;
  /* background-color: gray; */
  align-items: center;
  gap: 24px;
}

footer .img_container img {
  height: 50px;
  width: auto;
  display: block;
}

/* footer end */

.title_wrap {
  margin-bottom: 80px;
}

.title_wrap h1 {
  color: #7654da;
  margin-bottom: 10px;
}

.title_wrap h6 {
  color: #a7a7a7;
}

.con_wrap_2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 60px;
}

.img_wrap_2 {
  width: 100%;
  background-color: aliceblue;
}

.tag_1 {
  position: absolute;
  z-index: 11;
  top: 10px;
  left: 10px;
  color: white;
  background-color: #1a1a1a;
  padding: 10px 15px;
  border-radius: 5px;
}

.heart_icon_wrap {
  position: absolute;
  right: 10px;
  bottom: 160px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart_icon_wrap img {
  width: 55%;
  margin-top: 2px;
}

.con_2 {
  width: 24%;
}

.con_2:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
}

.con_2 a {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.tag_2 {
  display: inline-flex;
}

.tag_2 small {
  color: #7654da;
  background-color: #ebeaff;
  padding: 10px 10px;
  border-radius: 5px;
}

.con_title_wrap_2 h5 {
  height: 20px;
  overflow: hidden;
  margin-bottom: 15px;
}

.date {
  color: #a7a7a7;
  margin-bottom: 8px;
}

.location {
  display: flex;
  gap: 15px;
}

.divider {
  background-color: #ddd;
  width: 1px;
  height: 16px;
}

.more_btn_1 a {
  width: 140px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border-radius: 50px;
  border: 1px solid #ddd;
  transition: 0.2s ease-in-out;
}

.more_btn_1 a:hover {
  background-color: #ebeaff;
  color: #7654da;
  border-color: white;
}

.more_btn_2 a {
  border: none;
}

.con_wrap_6 {
  width: 100%;
}

.con_6 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0;
  border-bottom: 1px solid #ddd;
}

.con_left_wrap_6 {
  display: flex;
  gap: 30px;
}

.con_6 .date {
  float: right;
}

/* --------------sub common---------- */
.section_title {
  margin-top: 80px;
  padding: 0 150px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sub_title_wrap {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sub_title_wrap h1 {
  font-size: 72px;
  margin-bottom: 10px;
  font-family: "Poiret One";
}

/* section_title end */

.select_1 {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.select_1 h4 {
  font-weight: 500;
  font-size: 24px;
  color: #a7a7a7;
  cursor: pointer;
  padding-bottom: 10px;
  margin: 0;
}

.select_1 h4.active {
  color: #7654da;
  font-weight: 600;
  border-bottom: 3px solid #7654da;
}
/* select_1 end */

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 116px;
}

.pagination_box {
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination .num {
  display: flex;
  width: 200px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1px;
  margin: 0 40px;
  cursor: pointer;
}

.pagination i {
  margin-top: 5px;
  cursor: pointer;
}

.pagination h6 {
  font-weight: 500;
  opacity: 0.3;
  cursor: pointer;
}

.pagination i:nth-child(1) {
  opacity: 0.3;
}

/* pagintion end */
